<div class="p-2">
  <button mat-raised-button color="primary" (click)="openAddEditDialog()">Add New Currency</button>
</div>
<div class="grid grid-cols-3 px-1 font-semibold text-lg max-w-5xl bg-gray-400">
  <div class="p-1">Name</div>
  <div class="p-1">Abbreviation</div>
  <div class="p-1">Created At</div>
</div>
<div class="grid grid-cols-3 px-1 max-w-5xl" *ngFor="let currency of currencies$ | async">
  <div class="p-1">{{currency.name}}</div>
  <div class="p-1">{{currency.abbreviation}}</div>
  <div class="p-1">{{currency.createdAt | formatDate}}</div>
</div>
